:root {
    /* --primary: #B2172E; */
    --primary: #CD0D29;
    --gris: #CCC;
}

/* Navbar */

.bg-pizza-primary {
    background: var(--primary);
}
.nav-link {
    color: #FFF;
    /* font-weight: bold; */
    font-size: 1.1rem;
    transition: .3s;
}

.nav-link.active {

    font-weight: bold;
    transition: .3s;
}

nav ul li a:hover {
    font-size: 2.5rem;
}
/* /Navbar */